[submodule "pack/vendor/start/fzf"]
	path = pack/vendor/opt/fzf
	url = git://github.com/junegunn/fzf
[submodule "pack/vendor/start/fzf.vim"]
	path = pack/vendor/opt/fzf.vim
	url = git://github.com/junegunn/fzf.vim
[submodule "pack/vendor/opt/supertab"]
	path = pack/vendor/opt/supertab
	url = git://github.com/ervandew/supertab
[submodule "pack/vendor/opt/tabular"]
	path = pack/vendor/start/tabular
	url = git://github.com/godlygeek/tabular
[submodule "pack/vendor/opt/vim-commentary"]
	path = pack/vendor/opt/vim-commentary
	url = git://github.com/tpope/vim-commentary
[submodule "pack/vendor/opt/vim-surround"]
	path = pack/vendor/opt/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "pack/vendor/start/vim-unimpaired"]
	path = pack/vendor/start/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired
[submodule "pack/vendor/start/vim-airline"]
	path = pack/vendor/start/vim-airline
	url = git://github.com/vim-airline/vim-airline
[submodule "pack/vendor/start/vim-airline-themes"]
	path = pack/vendor/start/vim-airline-themes
	url = git://github.com/vim-airline/vim-airline-themes
[submodule "pack/vendor/start/vim-signify"]
	path = pack/vendor/start/vim-signify
	url = git://github.com/mhinz/vim-signify
[submodule "pack/vendor/start/vim-lawrencium"]
	path = pack/vendor/start/vim-lawrencium
	url = git://github.com/ludovicchabant/vim-lawrencium
[submodule "pack/vendor/opt/vim-javascript"]
	path = pack/vendor/opt/vim-javascript
	url = git://github.com/pangloss/vim-javascript
[submodule "pack/vendor/opt/php.vim"]
	path = pack/vendor/opt/php.vim
	url = git://github.com/StanAngeloff/php.vim
[submodule "pack/vendor/opt/vdebug"]
	path = pack/vendor/opt/vdebug
	url = https://github.com/ejsexton82/vdebug
[submodule "pack/vendor/opt/phpcomplete.vim"]
	path = pack/vendor/opt/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim
[submodule "pack/vendor/opt/vim-colors-solarized"]
	path = pack/vendor/opt/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "pack/vendor/start/filemaker.vim"]
	path = pack/vendor/start/filemaker.vim
	url = git://github.com/chivalry/filemaker.vim
[submodule "pack/vendor/opt/traces.vim"]
	path = pack/vendor/opt/traces.vim
	url = git://github.com/xtal8/traces.vim
[submodule "pack/vendor/opt/tagbar"]
	path = pack/vendor/opt/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "pack/vendor/opt/vader.vim"]
	path = pack/vendor/opt/vader.vim
	url = git://github.com/junegunn/vader.vim
[submodule "pack/vendor/opt/ale"]
	path = pack/vendor/opt/ale
	url = git://github.com/w0rp/ale
[submodule "pack/vendor/start/vim-startify"]
	path = pack/vendor/start/vim-startify
	url = git://github.com/mhinz/vim-startify
[submodule "pack/vendor/start/ack.vim"]
	path = pack/vendor/start/ack.vim
	url = git://github.com/mileszs/ack.vim
