[submodule "pack/vendor/start/fzf"]
	path = pack/vendor/opt/fzf
	url = git://github.com/junegunn/fzf
[submodule "pack/vendor/start/fzf.vim"]
	path = pack/vendor/opt/fzf.vim
	url = git://github.com/junegunn/fzf.vim
[submodule "pack/vendor/opt/vim-commentary"]
	path = pack/vendor/opt/vim-commentary
	url = git://github.com/tpope/vim-commentary
[submodule "pack/vendor/opt/vim-surround"]
	path = pack/vendor/opt/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "pack/vendor/start/vim-unimpaired"]
	path = pack/vendor/start/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired
[submodule "pack/vendor/start/vim-signify"]
	path = pack/vendor/start/vim-signify
	url = git://github.com/mhinz/vim-signify
[submodule "pack/vendor/opt/vim-javascript"]
	path = pack/vendor/opt/vim-javascript
	url = git://github.com/pangloss/vim-javascript
[submodule "pack/vendor/opt/php.vim"]
	path = pack/vendor/opt/php.vim
	url = git://github.com/StanAngeloff/php.vim
[submodule "pack/vendor/opt/vdebug"]
	path = pack/vendor/opt/vdebug
	url = https://github.com/ejsexton82/vdebug
[submodule "pack/vendor/opt/phpcomplete.vim"]
	path = pack/vendor/opt/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim
[submodule "pack/vendor/start/filemaker.vim"]
	path = pack/vendor/start/filemaker.vim
	url = git://github.com/chivalry/filemaker.vim
[submodule "pack/vendor/opt/traces.vim"]
	path = pack/vendor/opt/traces.vim
	url = git://github.com/xtal8/traces.vim
[submodule "pack/vendor/opt/tagbar"]
	path = pack/vendor/opt/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "pack/vendor/opt/vader.vim"]
	path = pack/vendor/opt/vader.vim
	url = git://github.com/junegunn/vader.vim
[submodule "pack/vendor/opt/ale"]
	path = pack/vendor/opt/ale
	url = git://github.com/w0rp/ale
[submodule "pack/vendor/start/vim-startify"]
	path = pack/vendor/start/vim-startify
	url = git://github.com/mhinz/vim-startify
[submodule "pack/vendor/start/vim-abolish"]
	path = pack/vendor/start/vim-abolish
	url = git://github.com/tpope/vim-abolish
[submodule "pack/vendor/opt/vim-markdown"]
	path = pack/vendor/start/vim-markdown
	url = git://github.com/plasticboy/vim-markdown
[submodule "pack/vendor/start/vim-lion"]
	path = pack/vendor/start/vim-lion
	url = git://github.com/tommcdo/vim-lion
[submodule "pack/vendor/start/vim-qf"]
	path = pack/vendor/start/vim-qf
	url = git://github.com/romainl/vim-qf
[submodule "pack/vendor/start/vim-sneak"]
	path = pack/vendor/start/vim-sneak
	url = git://github.com/justinmk/vim-sneak
[submodule "pack/vendor/start/vim-repeat"]
	path = pack/vendor/start/vim-repeat
	url = git://github.com/tpope/vim-repeat
[submodule "pack/vendor/start/dracula"]
	path = pack/vendor/start/dracula
	url = git://github.com/dracula/vim
[submodule "pack/vendor/start/indentLine"]
	path = pack/vendor/start/indentLine
	url = git://github.com/Yggdroot/indentLine
[submodule "pack/vendor/start/vim-sort-motion"]
	path = pack/vendor/start/vim-sort-motion
	url = git://github.com/christoomey/vim-sort-motion
[submodule "pack/vendor/start/tabular"]
	path = pack/vendor/start/tabular
	url = git://github.com/godlygeek/tabular
[submodule "pack/vendor/opt/deoplete-padawan"]
	path = pack/vendor/opt/deoplete-padawan
	url = git://github.com/padawan-php/deoplete-padawan
[submodule "pack/vendor/start/vim-fugitive"]
	path = pack/vendor/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "pack/vendor/opt/vim-php-refactoring-toolbox"]
	path = pack/vendor/opt/vim-php-refactoring-toolbox
	url = git://github.com/adoy/vim-php-refactoring-toolbox
[submodule "pack/vendor/start/vim-rails"]
	path = pack/vendor/start/vim-rails
	url = git://github.com/tpope/vim-rails
[submodule "pack/vendor/start/vim-ps1"]
	path = pack/vendor/start/vim-ps1
	url = git://github.com/PProvost/vim-ps1
[submodule "pack/vendor/opt/deoplete.nvim"]
	path = pack/vendor/opt/deoplete.nvim
	url = git://github.com/Shougo/deoplete.nvim
